(function () {
    'use strict';

    angular
        .module('services')
        .factory('{{name}}Service', {{name}}Service)
    ;

    {{name}}Service.$inject = [
    
    ];

    function {{name}}Service() {

        var service = {};
 
        return service;
        
    }

})();
