describe('Testing {{name}}Controller', function() {
  beforeEach(module('{{appName}}'));

  var $controller;

  beforeEach(inject(function(_$controller_){
    $controller = _$controller_;
  }));

  describe('$scope.submit', function() {
    var $scope, controller;

    beforeEach(function() {
      $scope = {};
      controller = $controller('{{name}}Controller', { $scope: $scope });
    });

    it('test', function() {
      
    });


  });

});